*{
    margin: 0%;
}
body{
    background-color: mintcream;
}
img{
    display: flex;
    margin-right: 400px;
    width: 95px;
    height: 95px
}
ul{
    display: flex;
    align-items: center;
    text-align: center;
    list-style: none;
    justify-content: center;
    border-left: none;
    width: 100%;
    height: 100px;
    background-color: rgb(240, 240, 240);
    margin-top: 0px;
    position: fixed
}
li{
    display: flex;
    margin: 0px 5px 0px 5px;
    width: 150px;
    height: 45px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    padding: 0px 5px;
}
li:hover{
    background-color: rgb(221, 221, 221);
}
a{
    text-decoration: none;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    padding: 120px 50px 30px 50px;
    font-size: 100px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2{
    margin: 30px 10px 30px 40px;
    font-size: 38px;
}
p{
    margin: 1px 40px 1px 40px;
    font-size: 18px;
}
div{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

